/* 
CTRL + F> TODO
para ver o que fiz temporario
*/

/* cores da parada */
:root {
    --roxinho: #72147E;
    --rosa-joaum: #F21170;
    --marelo-mostarda: #FA9905;
    --laranjaum: #FF5400;
    --verde-good: #25D366;
    --quase-white: #F4F4F4;
    --cinzou: #7D7D7D;
    --quase-black: #322F2E;
    --mais-black: #201F1E;
    --pretao: #1A1918;
}

/* reset de css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georama';

    /* animação quando mudam os tamanhos */
    transition: 400ms ease-in;
}

/* Aqui é um background pretao */
html,
body {
    scroll-behavior: smooth;
    background-color: var(--pretao);
    overflow-x: hidden;
}

/* largura do scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

/* Cor de fundo da scrollbar */
::-webkit-scrollbar-track {
    background: var(--quase-black);
}

/* Cor da scrollbar */
::-webkit-scrollbar-thumb {
    background: var(--laranjaum);
}

/* 
 # seção da página
 ## separei a tag section para ser do tamanho da tela
 ## dentro da section vai ficar o conteúdo, com um padding
*/
section {
    height: calc(100vh);
    padding: 2rem 9rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

a {
    text-decoration: none;
}

/* classe para facilitar fazer rows */
.linha {
    display: flex;
    flex-direction: row;
}

/*
 # navbar na parte de cima 
 ## barra laranja, com 70px de altura, de lado a lada da tela
 ## padding de 8% da largura da tela horizontal
 ## alinhamento vertical no centro
 ## alinhamento horizontal espaçado entre os itens
 ## sombra laranja em baixo
*/
#nav-em-cima {
    background-color: var(--laranjaum);
    width: 100%;
    height: 70px;
    padding: 0px 8vw;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 8px 1px #FF5400;
    z-index: 1000;
}

/* 
 # logo
 ## aqui tem um icone e um texto
 ## estão alinhados na horizontal
 ## centralizados na vertical
 ## com cor branca
*/
.logo {
    display: flex;
    align-items: center;
    color: var(--quase-white);
    padding: 5px 10px;
    cursor: pointer;
}

/* tamanho do icone */
.logo img {
    height: 34px;
}

/* estilo da fonte */
.logo p {
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
}

/* 
 # drawer
 ## inicialmente está escondido
 ## tem posição fixa
 ## altura maxima da tela
 ## largura inicial é 0
 ## posição em 0,0
 ## background mais-black
 */
#nav-do-lado {
    visibility: hidden;
    position: fixed;
    z-index: 1001;
    width: 0;
    top: 0;
    right: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--mais-black);
}

/* 
 # drawer expandido
 ## ao clicar no botao "abre-menu" expande o drawer
 ## fica visível na tela
 ## muda a largura de 0 para 25% da largura da tela
 ## exibe o conteúdo centralizado
*/
#nav-do-lado.expandiu {
    visibility: visible;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

/* esconde os itens do drawer até que o drawer esteja visível */
#menu-de-itens {
    display: none;
}

/* uma div do drawer, centralizado com largura de 80% do drawer */
#nav-do-lado.expandiu #menu-de-itens {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    overflow-x: hidden;
}

/* logo svg com background laranja arredondado */
#menu-de-itens img {
    background-color: var(--laranjaum);
    height: 60px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20%;
}

/* 
 # itens do drawer
 ## cada um tem borda e está centralizado
*/
#menu-de-itens li {
    width: 100%;
    text-align: center;
    border: 2px solid var(--quase-white);
    border-radius: 50px;
    margin: 5px;
    padding: 10px 0px;
}

/* ao fazer hover em um item ele muda a cor de fundo */
#menu-de-itens li:hover {
    background-color: var(--quase-white);
}

/* estilo de texto e padding para click (TODO) */
#menu-de-itens a {
    text-decoration: none;
    color: var(--quase-white);
    padding: 10px 45px;
}

/* ao fazer hover em um item ele muda a cor do texto */
#menu-de-itens li:hover a {
    color: var(--quase-black);
}

/* isso só tem no mobile. desktop esconde */
#volta-menu {
    visibility: hidden;
    top: 0;
    left: 100%;
    width: 0;
}

/* alinha no conteúdo no centro */
#home {
    padding-top: 70px;
    height: 100vh;
    align-items: center;
}

/* estilo do texto da primeira tela*/
#home .texto h1 {
    font-size: 56px;
    color: var(--laranjaum);
    text-transform: uppercase;
    line-height: 1;
}

/* estilo do texto que tem risco*/
#home .texto .riscado {
    font-weight: 500;
    text-decoration-line: line-through;
}

/* estilo do texto que ta em negrito*/
#home .texto .negrito {
    font-weight: 900;
}

/* div que envolve os botões para margem */
#home .botoes {
    margin-top: 2rem;
    display: flex;
}

/* estilo dos botões */
.button {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 132px;
    height: 33px;
    border: solid 1px var(--quase-white);
    background: transparent;
    border-radius: 20px;
    margin-right: 10px;
    /* padding: 5px 10px; */
}

.button img {
    height: 20px;
    margin: 0 !important;
    margin-right: 5px !important;
    padding: 0 !important;
    width: 20px;
}

.button p {
    color: var(--quase-white);
    font-size: 14px !important;
    font-weight: 400 !important;
}

/* 
 # primeira coluna
 ## tem 80% da largura da tela
 ## alinha os itens em coluna
 ## centraliza na vertical
 ## coloca no começo da linha na horizontal
*/
#home .coluna1 {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* TODO
# segunda coluna
## tem 20% da largura da tela pra caber
*/
#home .coluna2 {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOGUETÃO TODO */
#home img {
    height: 70%;
}

#sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sobre .boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#sobre p {
    color: var(--quase-white);
    font-size: 23px;
    font-weight: bold;
}

#sobre .box p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;

}

#sobre .boxes .box {
    display: flex;
    align-items: center;
    padding: 10px 70px 10px 30px;
    width: 450px;
    /* height: 100px; */
    border: 4px var(--laranjaum) solid;
    border-radius: 24px;
}

#sobre .boxes .box img {
    height: 70px;
    margin-right: 20px;
}

#sobre .boxes .linha {
    margin-top: 20px;
}

#sobre .box-margin {
    margin-left: 20px;
}

#sobre .button {
    margin-top: 40px !important;
}


/* tela 3 */

#socialmedia1 h1 {
    color: var(--laranjaum);
}

.carrossel {
    height: 245px;
    width: 100%;
    /* position: absolute; */
    margin-left: -10%;
    display: flex;
    padding: 10px;
    /* border-left: 2px var(--verde-good) dashed; */
    z-index: 1;
    transition: linear 1ms!important;
}

.carrossel img {
    margin: 0 5px;
    cursor: pointer;
    border-radius: 10px;
}

/* #carrossel2 {
    margin-top: 245px;
    height: 245px;

    width: 100%;
    position: absolute;
    margin-left: -10%;
    display: flex;
    padding: 10px;
    /* border-left: 2px var(--verde-good) dashed; 
    z-index: 1;
    transition: linear 1ms!important;
}

#carrossel2 img {
    margin: 0 5px;
    cursor: pointer;
    border-radius: 10px;
}


 */


 #solucoes {

 }