/* cores da parada */
:root {
    --roxinho: #72147E;
    --rosa-joaum: #F21170;
    --marelo-mostarda: #FA9905;
    --laranjaum: #FF5400;
    --verde-good: #25D366;
    --quase-white: #F4F4F4;
    --cinzou: #7D7D7D;
    --quase-black: #322F2E;
    --mais-black: #201F1E;
    --pretao: #1A1918;
}

/* reset de css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georama';
    transition: 200ms ease-in;
}

html,
body {
    height: 100%;
    background-color: var(--pretao);

}

#nav-em-cima {
    width: 100%;
    height: 70px;
    background-color: var(--laranjaum);
    padding: 0px 8vw;
    align-items: center;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    box-shadow: 0px 4px 8px 1px #FF5400;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--quase-white);
    cursor: pointer;
    padding: 5px 10px;
}

.logo img {
    height: 34px;
}

.logo p {
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
}

#abre-menu {
    cursor: pointer;
    padding: 5px;
    height: 44px;
}

#abre-menu.expandiu {
    margin-right: 25vw;
}

#abre-menu img {
    height: 34px;
}

#nav-do-lado {
    visibility: hidden;
    position: fixed;
    height: 100vh;
    width: 0;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background-color: var(--mais-black);

}

#nav-do-lado.expandiu {
    visibility: visible;
    display: flex;
    width: 25vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#menu-de-itens {
    display: none;
}

#nav-do-lado.expandiu #menu-de-itens {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    overflow-x: hidden;
}

#menu-de-itens img {
    margin-bottom: 20%;
    background-color: var(--laranjaum);
    border-radius: 10px;
    padding: 5px;
    height: 60px;
}

#menu-de-itens li {
    border: 2px solid var(--quase-white);
    width: 100%;
    margin: 5px;
    text-align: center;
    border-radius: 50px;
    padding: 10px 0px;
}

#menu-de-itens li:hover {
    background-color: var(--quase-white);
}

#menu-de-itens li:hover a {
    color: var(--quase-black);
}

#menu-de-itens a {
    text-decoration: none;
    color: var(--quase-white);
    padding: inherit;
}

#volta-menu {
    display: none;
}

/* #volta-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--verde-good);
    z-index: 100;
} */

section {
    height: calc(100vh - 70px);
    padding: 2rem 9rem;
}

#tela1 {
    align-items: center;
}

.linha {
    display: flex;
    flex-direction: row;
}

#tela1 .texto h1 {
    font-size: 45px;
    color: var(--laranjaum);
    text-transform: uppercase;
    line-height: 1;

    /* text-align: center; */
}

#tela1 .texto .riscado {
    font-weight: 500;
    text-decoration-line: line-through;
}

#tela1 .texto .negrito {
    font-weight: 900;
}

#tela1 .botoes {
    margin-top: 2rem;
    display: flex;
}
#tela1 .botoes button{
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
    border: none;
    border-radius: 20px;
    padding: 5px 0px;
}

#tela1 .coluna1{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: var(--quase-white) 2px dashed;
}
#tela1 .coluna2{
    height: 100%;
    width: 20%;
    border: var(--quase-white) 2px dashed;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tela1 img {
    width: 10px;
    height: 10px;
}