/* cores da parada */
:root {
    --roxinho: #72147E;
    --rosa-joaum: #F21170;
    --marelo-mostarda: #FA9905;
    --laranjaum: #FF5400;
    --verde-good: #25D366;
    --quase-white: #F4F4F4;
    --cinzou: #7D7D7D;
    --quase-black: #322F2E;
    --mais-black: #201F1E;
    --pretao: #1A1918;
}

/* reset de css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georama';
    transition: 500ms ease-in;
}

html,
body {
    height: 100%;
}

#nav-em-cima {
    width: 100%;
    height: 70px;
    background-color: var(--laranjaum);
    padding: 0px 8vw;
    align-items: center;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    box-shadow: 0px 4px 8px 1px #FF5400;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--quase-white);
    cursor: pointer;
    padding: 5px 10px;
}

.logo img {
    height: 34px;
}

.logo p {
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
}

#abre-menu {
    cursor: pointer;
    padding: 5px;
    height: 44px;
}

#abre-menu.expandiu {
    margin-right: 25vw;
}

#abre-menu img {
    height: 34px;
}

#nav-do-lado {
    visibility: hidden;
    position: fixed;
    height: 100vh;
    width: 0;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background-color: var(--mais-black);
}

#nav-do-lado.expandiu {
    visibility: visible;
    display: flex;
    width: 25vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#menu-de-itens {
    display: none;
}

#nav-do-lado.expandiu #menu-de-itens {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    overflow-x: hidden;
}

#menu-de-itens img {
    margin-bottom: 20%;
    background-color: var(--laranjaum);
    border-radius: 10px;
    padding: 5px;
    height: 60px;
}

#menu-de-itens li {
    border: 2px solid var(--quase-white);
    width: 100%;
    margin: 5px;
    text-align: center;
    border-radius: 50px;
    padding: 10px 20px;
}

#menu-de-itens li:hover {
    background-color: var(--quase-white);
}

#menu-de-itens li:hover a {
    color: var(--quase-black);
}

#menu-de-itens a {
    text-decoration: none;
    color: var(--quase-white);
    padding: inherit;
}


/* #volta-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--verde-good);
    z-index: 100;
} */