/* 
    Aqui tem os estilos do mobile menorzinho que tiver
    menos de 500px de largura
*/

#nav-do-lado.expandiu #menu-de-itens {
    width: 80%;
}

#menu-de-itens a {
    padding: 10px 25px;
}

#nav-do-lado.expandiu {
    width: 50%;
}

#volta-menu.expandiu {
    display: block;
    position: fixed;
    top: 70px;
    left: 0;
    width: 50%;
    height: calc(100% - 70px);
}

section {
    padding: 2rem 0px;
}

#tela1 {
    align-items: center;
}

#tela1 .botoes {
    margin: 40px 60px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#tela1 .botoes button {
    margin: 5px 5px;
    padding: 5px 0px;
}

#tela1 .texto h1 {
    text-align: center;
    font-size: 36px;
}

#tela1 .coluna1 {
    width: 100%;
}

#tela1 .coluna2 {
    display: none;
}